<section class="main">
<nav class="nav-bar">
    <div class="cat-queries-480">
        <!-- Research Filter Title -->
        <input type="checkbox" class="categorie categorie-1" id="toggle-1"/>

        <label class="categorie" for="toggle-1">
            Categories
        </label>

        <!-- Research Filter -->
        <div class="categorie categorie-1">
            <div>
                <label class="se-checkbox">
                    <input type="checkbox"/>
                    <span></span>
                </label>
                <span class="category-name">All</span>
            </div>
            <% @categories.each do |category| %>
            <div>
                <label class="se-checkbox">
                    <input type="checkbox"/>
                    <span></span>
                </label>
                <span class="category-name"><%= category %></span>
            </div>
          <% end %>
        </div>
    </div>

    <div class="cat-queries-480">
        <input type="checkbox" class="categorie categorie-2" id="toggle-2"/>

        <label class="categorie" for="toggle-2">
            Cantons
        </label>

        <!-- Research Filter -->
        <div class="categorie categorie-2">
            <div>
                <label class="se-checkbox">
                    <input type="checkbox"/>
                    <span></span>
                </label>
                <span class="category-name">All</span>
            </div>
            <% @cantons.each do |canton| %>
            <div>
                <label class="se-checkbox">
                    <input type="checkbox"/>
                    <span></span>
                </label>
                <span class="category-name"><%= canton %></span>
            </div>
          <% end %>
        </div>
    </div>
  
  <div id="datepicker"></div>
  
    <div class="top-contributor cat-queries-480">
        <h3 class="title-top-contributor">Top Contributors</h3>
        <% @users_top.each do |user| %>
        <div>
            <div class="content-top-contributor">
                <i class="icon-user"></i><span class="name-top-contributor"><%= user.first_name %> <%= user.last_name %></span>
                <span class="value-top-contributor"><%= user.contributions_counter %></span>
            </div>
        </div>
        <% end %>
    </div>

</nav>

<!--SEARCH BAR-->
<section class="left">
    <div class="search">
        <div class="search-div">
            <label class="se-placeholder">
                <i class="icon-search icon-input-text"></i>
                <input type="text" placeholder="Search" class="search-input">
                <span>Search</span>
            </label>
            <button class="btn" href="#"> Search</button>

        </div>
        <div class="grid-or-list">
            <button class="search-div-btn" href="#"><i class="icon-th"></i> Grid</button>
            <button class="search-div-btn" href="#"><i class="icon-list"></i> List</button>
        </div>
    </div>
  <!--
  <% @events.each do |event| %>
  <p><%= link_to event.title, event %> <%= event.category %></p>
  <% end %>
  -->
    <div class="content">
        <ul class="flex-container">
            <% @events.each do |event| %>
            <li class="flex-item">
                <div class="img-event">
                    <!-- TODO take url from database -->
                  <!--
                    <div class="inner">
                    <%= image_tag("http://i.imgur.com/Qt7VGfn.jpg", :alt => "event image") %>
                    </div>-->
                  <div class="wrapperB" style="background-image: url('http://krasimirtsonev.com/blog/articles/CSSChallenge1/pic2.jpg');"></div>
                </div>
                <div class="content-event">
                    <p class="title-event"><%= link_to(event.title, event, :class => "link link-title") %></p>

                  <p class="date-event">Date: From <%= event.start_time.strftime("%d %B %Y") %> to <%= event.end_time.strftime("%d %B %Y") %></p>
                    <p class="multiline-ellipsis">
                      <%= event.description %>
                    </p>
                    <div class="more-event">
                      <button class="btn" href="#"><%= link_to("More", event, :class => "link link-btn") %></button>
                    </div>
                </div>
            </li>
            <% end %>
        </ul>
    </div>
</section>
</section>
<script>
  $(function() {
$(function() {
        $("#datepicker").datepicker({
          minDate: new Date(),
        });
    });
});

  </script>
