<section class="show">
  <div class="show-body">
    <div class="profile-main-content">
        <h1 class="profile-main-title">Your informations</h1>
        <div class="profile-main-leftcolumn">
          <%= image_tag(@user.profile_picture(200, 200), :alt => "Profile picture", :class => "profile-image") %>
        </div>
        <div class="profile-main-rightcolumn">
            <p class="profile-main-title-inner"><%= @user.first_name %> <%= @user.last_name %></p>
            <p>Shared events <%= @user.contributions_counter %></p>
          
            <p>Contribute to our website by sharing your events<p>
          
            <button style="width:100%; height:40px;" id="import">Share more events</button>
          
            <p class="terms-and-conditions">Public information is any information you share with a public audience, as well as information in your Public Profile, or content you share on our website. Public information is available to anyone on or off our Services and can be seen or accessed through. By clicking on "Share more events" you automatically accepts these terms and conditions.</p>
      </div>
    </div>

    <div class="profile-main-content">
        <h1 class="profile-main-title">Your contributions</h1>

        <ul class="flex-container flex-container-events">
        <% @events.each do |event| %>
          
          <li class="flex-item">
            <a href="<%= event_path(event) %>" class="link">
              <div class="img-event">
                  <div class="wrapperB" style="background-image: url('<%= event.picture %>');"></div>
              </div>
            
              <div class="content-event">
                  <p class="title-event"><%= event.title %></p>
                  <p class="date-event">From <%= event.start_time.strftime("%d %B %Y") %> to <%= event.end_time.strftime("%d %B %Y") %></p>
                  <p class="multiline-ellipsis">
                      <%= event.description %>
                  </p>
              </div>
            </a>
            <% if @is_my_profile %>
            <%= button_to "Supprimer", event, :class => "btn", :method => :delete %>
            <% end %>
          </li>
      <% end %>
    </ul>
      </div>
    </div>
</section>