<div class="image-cover-div">
  <%= image_tag(@event.picture, :alt => "cover image" ,:class => "img-cover") %>
</div>
<section class="show">
  <div class="show-body">
    <div class="show-title">
      <p class="title-event"><%= @event.title %></p>
      <p class="date-event">From <%= @event.start_time.strftime("%d %B %Y") %> to <%= @event.end_time.strftime("%d %B %Y") %></p>
    </div>
    <div class="show-content">
      <div class="show-information">
        <div>Catégorie: <%= @event.category %></div>
        <div>Localisation: <%= @event.event_location.city + " " + @event.event_location.canton %></div>
        <div>Utilisateur: <%= @user.first_name %> <%= @user.last_name %></div>
      </div>
      <div class="show-description">
        <%= @event.description %>
      </div>

    </div>
  </div>

    <div class="map">
      <%= hidden_field_tag 'lat', @events_location.latitude %>
      <%= hidden_field_tag 'lon', @events_location.longitude %>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>

  
  
</section>

<script>
  




</script>