<h1>Listing all Events Location nearby</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Id</th>
    <th>Street</th>
    <th>City</th>
    <th>Country</th>
    <th>Zip code</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
 
  <% @events_locations.each do |location| %>
  <tr>
    <td><%= location["name"] %></td>
    <td><%= location["id"] %></td>
    <td><%= location["location"]["street"] %></td>
    <td><%= location["location"]["city"] %></td>
    <td><%= location["location"]["country"] %></td>
    <td><%= location["location"]["zip"] %></td>
    <td><%= location["location"]["latitude"] %></td>
    <td><%= location["location"]["longitude"] %></td>   
  </tr>
<% end %>
</table>

<h1>Listing all Events Events for each location</h1>
<table>
  <tr>
    <th>Owner name</th>
    <th>Owner ID</th>
    <th>Name</th>
    <th>ID</th>
    <th>Location</th>
    <th>Description</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Venue - City</th>
    <th>Venue - Country</th>
    <th>Venue - Latitude</th>
    <th>Venue - Longitude</th>
    <th>Venue - Street</th>
    <th>Venue - Zip</th>
    <th>Venue - ID</th>
  </tr>
 
  <% @events.each do |event| %>
  <tr>
    <td><%= event["owner"]["name"] %></td>
    <td><%= event["owner"]["id"] %></td>
    <td><%= event["name"] %></td>
    <td><%= event["id"] %></td> 
    <td><%= event["location"] %></td>
    <td><%= event["description"] %></td>
    <td><%= event["start_time"] %></td> 
    <td><%= event["end_time"] %></td> 
    <td><%= event["venue"]["city"] %></td> 
    <td><%= event["venue"]["country"] %></td> 
    <td><%= event["venue"]["latitude"] %></td> 
    <td><%= event["venue"]["longitude"] %></td> 
    <td><%= event["venue"]["street"] %></td> 
    <td><%= event["venue"]["zip"] %></td> 
    <td><%= event["venue"]["id"] %></td> 
  </tr>
<% end %>
</table>
 
<br>