<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Social Events</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', media: 'all' %>
  
  <script type="text/javascript">
    var base_url = "<%= root_url %>";
  </script>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= yield :javascript_includes %>
  
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
</head>
<body style="background-image: url('<%= image_path('bg.jpg') %>');">   
  <!-- INTEGRATION -->
  
  <div id="div-wrapper">
    
    <% if flash_first_login != nil %>  
    <div id="flash-first-login" title="First login with Facebook">
      <h3>Welcome <%= current_user.last_name + ' ' + current_user.first_name %></h3>
      <table class="first-login-table">
        <tr>
          <td><%= image_tag(current_user.profile_picture(125, 125), :alt => "Profile picture") %></td>
          <td>This is your first login with Facebook on Social Events.<br /><br />
            By going to <%= link_to("your profile", current_user) %>, you can import events from Facebook near your current location.<br /><br />
            When importing them on Social Events, you accept to link them to your account and make them public.</td>
        </tr>
      </table>    
    </div>
    <% end %>

    <header>
      <div class="header-content-margin">
      <% if user_signed_in? %>
          <div class="btn-user">
            <!-- BEGIN FETCHING -->            
              <span title="Your events are currently fetching" class="fetching-flag underway menu" style="display: <%= @user_is_fetching ? 'inline-block' : 'none' %>"></span>
              <span class="fetching-flag done menu"></span>
            <!-- END FETCHING -->
            <%= link_to "Profile", user_path(current_user), :class => "menu", :method => :get %>
            <%= link_to "Sign out", destroy_user_session_path, :class => "menu", :method => :delete %>

            <%= link_to(image_tag(current_user.profile_picture(50, 50), :alt => "Profile picture", :class => "profile-picture-mini"), current_user) %>
          </div>
      <% end %>
      <% if not user_signed_in? %>
          <div class="fb-login-button fb-login-button-small"><%= link_to(image_tag("fb_login_small.png", :alt => "Facebook login", :class => ""),user_omniauth_authorize_path(:facebook)) %></div>
      <% end %>
          <div class="site-title"><%= link_to("Social Events",root_url)%></div>
          <div style="margin-left: 12px; padding: 2px;">
            <span class="notify error alert" role="alert">  
              <%= alert if alert!=nil %>
            </span> 

            <span class="notify warning notice" role="alert">  
              <%= notice if  notice!=nil && flash_first_login == nil %>
            </span>
        </div>

        <span class="welcome"<%== ' style="display: none;"' if notice != nil || alert != nil %>>
          <% if user_signed_in? %>
            Welcome <%= current_user.first_name + ' ' + current_user.last_name %>
          <% else %>
            Find and import your Facebook's events
          <% end %>
        </span>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>&copy; Copyright 2015 Social Events. Developed by Caraccio Michael, Déruaz Vincent and Rosser Mathieu</p>
    </footer>
    
  </div>
</body>
</html>
