<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Social Events</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', media: 'all' %>
  
  <script type="text/javascript">
    var base_url = "<%= root_url %>";
  </script>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= yield :javascript_includes %>
  
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
</head>
<body>   
  <!-- INTEGRATION -->
  
  <header>
    <div class="header-content-margin">
    <% if user_signed_in? %>
        <div class="btn-user">
          <!-- BEGIN FETCHING -->
          <span class="fetching" style="display: <%= @user_is_fetching ? 'inline' : 'none' %>">Fetching</span>
          <!-- END FETCHING -->
          <%= link_to "Profil", user_path(current_user), :class => "menu", :method => :get %>
          <!-- <%= link_to "Utilisateurs", users_path, :class => "menu", :method => :get %> -->
          <%= link_to "Sign out", destroy_user_session_path, :class => "menu", :method => :delete %>
        </div>
    <% end %>
    <% if not user_signed_in? %>
        <div class="fb-login-button fb-login-button-large"><%= link_to(image_tag("fb_login.png", :alt => "facebook button", :class => ""),user_omniauth_authorize_path(:facebook)) %></div>
        <div class="fb-login-button fb-login-button-small"><%= link_to(image_tag("fb_login_small.png", :alt => "facebook button", :class => ""),user_omniauth_authorize_path(:facebook)) %></div>
    <% end %>
        <div class="site-title"><%= link_to("Social Events",root_url)%></div>
        
      <% if alert!=nil %>  
        <div class="notify notify error alert" role="alert">  
          <%= alert %>
          <button type="button" class="notify-close">&times;</button>
        </div> 
      <% elsif  notice!=nil %>  
        <div class="notify notify warning notice" role="alert">  
          <%= notice %>
          <button type="button" class="notify-close">&times;</button>
        </div>
      <% elsif  user_signed_in? %>
          <div class="welcome">
          Welcome <%= current_user.last_name+' '+current_user.first_name %>
          </div>
       <%else %>
          <div class="welcome">
          Des événements autour de vous !
          </div>
      <% end %>

    </div>
  </header>
  
  <%= yield %>

  <footer>FOOTER</footer>
</body>
</html>
