<!DOCTYPE html>
<html>
<head>
  <title>SocialEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <p><%= link_to 'Home', '/' %></p>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <p id="fetching" style="display: <%= @user_is_fetching ? 'block' : 'none' %>">Fetching</p>
  
  <% if user_signed_in? %>
  Signed in as <%= current_user.first_name %>. Not you?
  <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
  <%= link_to "Profil", user_path(current_user) %>
  <% else %>
  <!-- 
    link_to "Sign up", new_user_registration_path 
      or
    link_to "Sign in", new_user_session_path
  --> 
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>
  
  <%= link_to "Liste des users", users_path %>

  
<%= yield %>

</body>
</html>
