<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Social Events</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
</head>
<body>
  
  <p><%= link_to 'Home', '/' %></p>

  <p id="fetching" style="display: <%= @user_is_fetching ? 'block' : 'none' %>">Fetching</p>
  

  <%= link_to "Liste des users", users_path %>
  
  <!-- INTEGRATION -->
  
  <header>
    
    <div class="header-content">
      <h1><span class="site-title"> Social Events</span>
        <% if not user_signed_in? %>
              <div class="fb-login-button fb-login-button-large"><%= link_to(image_tag("fb_login.png", :alt => "facebook button", :class => ""),
  user_omniauth_authorize_path(:facebook)) %></div>
              <div class="fb-login-button fb-login-button-small"><%= link_to(image_tag("fb_login_small.png", :alt => "facebook button", :class => ""),
    user_omniauth_authorize_path(:facebook)) %></div>
          <% end %>
        </h1>
      <% if user_signed_in? %>
              Signed in as <%= current_user.first_name %>. Not you?
              <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
              <%= link_to "Profil", user_path(current_user) %>
      <% end %>
    </div>
    
    <% if alert!=nil %>  
      <div class="notify notify error alert" role="alert">  
        <%= alert %>
        <button type="button" class="notify-close">&times;</button>
      </div>
    <% end %>
  
    <% if alert!=nil %>  
      <div class="notify notify warning notice" role="alert">  
        <%= notice %>
        <button type="button" class="notify-close">&times;</button>
      </div>
    <% end %>
    
  </header>

  
<%= yield %>

  <footer>FOOTER</footer>
</body>
</html>
